.hero {
  display: flex;
  justify-content: space-between;
  color: white;
}

/*  Start left Side */
.left-h {
  flex: 3;
  padding: 2rem;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.best-fit {
  margin-top: 4rem;
  background-color: #363d42;
  border-radius: 4rem;
  width: fit-content;
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.best-fit span {
  z-index: 10;
}
.best-fit > div {
  position: absolute;
  background-color: var(--orange);
  width: 5.4rem;
  height: 80%;
  left: 8px;
  border-radius: 3rem;
}
/* Hero Heading */
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: bold;
  text-overflow: inherit;
}
.hero-text p {
  font-size: 16px;
  margin: 0;
  text-transform: none;
  font-weight: normal;
  text-overflow: inherit;
  max-width: 80%;
}

/* Figures */
.figures {
  display: flex;
  gap: 2rem;
}
.figures > div {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}
.figures span {
  font-size: 1rem;
  color: var(--gray);
}

/* Hero Buttons */
.hero-buttons {
  transition: all 0.3s;
}
.hero-buttons .btnone {
  padding: 10px 25px;
  margin-right: 10px;
  background-color: var(--orange);
  border: none;
  border-radius: 2rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.hero-buttons .btntwo {
  padding: 10px 25px;
  background-color: transparent;
  border: 2px solid var(--orange);
  border-radius: 2rem;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
/*  End left Side */
/* Start Right Side */
.right-h {
  flex: 1;
  position: relative;
  background-color: var(--orange);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 2.4rem;
  border-bottom-left-radius: 10rem;
}
.right-h .btn {
  padding: 10px;
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 2rem;
  margin-top: 2rem;
  margin-right: 2rem;
  width: fit-content;
}
.right-h .heart-rate {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  background-color: #464d53;
  gap: 1rem;
  font-size: 25px;
  border-radius: 8px;
  margin-right: 2rem;
  width: fit-content;
}
.right-h .heart-rate img {
  width: 32px;
}
.right-h .heart-rate span {
  font-size: 16px;
  color: var(--gray);
}
.right-h .man {
  width: 368px;
  position: absolute;
  top: 9rem;
  right: 8rem;
  z-index: 10;
}
.right-h .background {
  position: absolute;
  width: 240px;
  height: 416px;
  top: 4rem;
  right: 20rem;
  transform: rotate(-5deg);
  z-index: -1;
}
.calories {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 16px;
  background-color: #656565;
  font-size: 24px;
  position: absolute;
  bottom: 3rem;
  right: 28rem;
  border-radius: 8px;
}
.calories img {
  width: 48px;
  height: 98px;
}
.calories .text-content {
  display: flex;
  flex-direction: column;
  width: 64px;
}
.calories span {
  font-size: 16px;
  color: var(--gray);
}
/* End Right Side */
.hero-blur {
  width: 22rem;
  height: 30rem;
  left: 0;
}
/* Responsive MediaQuery */
@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
  .hero .header .links-content {
    display: none;
  }
  .hero-blur {
    width: 14rem;
  }
  .best-fit {
    margin-top: 0;
    font-size: small;
    align-self: center;
    transform: scale(0.8);
  }
  .hero-text {
    font-size: xx-large;
    align-items: center;
    justify-content: center;
  }
  .hero-text p {
    font-size: small;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
  }

  .figures > div {
    font-size: large;
  }
  .figures > div span {
    font-size: small;
  }
  .hero .hero-buttons {
    display: flex;
    justify-content: center;
  }
  .right-h {
    border-radius: 10rem;
    height: fit-content;
  }
  .right-h .calories {
    top: 32rem;
    left: 2rem;
    height: fit-content;
    width: fit-content;
  }
  .calories .img-calories > img {
    width: 2rem;
  }
  .calories .text-content {
    font-size: 1rem;
    color: white;
  }
  .right-h .man {
    position: relative;
    width: 17rem;
    left: 3rem;
    top: -14rem;
    align-self: center;
  }
  .right-h .background {
    position: relative;
    width: 15rem;
    left: -9rem;
    top: -44rem;
    transform: rotate(0deg);
  }
  .right-h .heart-rate {
    position: relative;
    left: -15rem;
    top: -5rem;
    margin: 0;
  }
}
