/* Start Programs Section */
.programs {
  width: 100%;
  padding: 0 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.programs .programs-header {
  display: flex;
  justify-content: center;
  color: white;
  gap: 6rem;
}
.programs .programs-header p {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
}
.programs-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.programs-categories .category {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 32px;
  color: white;
  background-color: #808080;
}
.programs-categories .category > :nth-child(1) {
  width: 2rem;
  height: 2rem;
  fill: white;
}
.programs-categories .category > :nth-child(2) {
  font-size: 16px;
  font-weight: bold;
}
.programs-categories .category > :nth-child(3) {
  font-size: 14.4px;
  line-height: 1.7;
  margin: 0;
}
.programs-categories .category .join-now {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.programs-categories .category .join-now img {
  width: 16px;
  height: 14px;
}
.programs-categories .category:hover {
  background: var(--planCard);
  cursor: pointer;
}
/* End Programs Section */
